<!-- Label to display any error messages -->
<label class="error-message">{{ errMessage }}</label>

<mat-form-field>
  <input [(ngModel)]="note.title" name="editTitle" matInput placeholder="Title" type="text">
</mat-form-field>
<mat-form-field>
  <textarea [(ngModel)]="note.content" name="editText" matInput placeholder="Description"></textarea>
</mat-form-field>
<mat-form-field>
  <mat-select name="editStatus" [compareWith]="compareFn" placeholder="Select Category" [(ngModel)]="note.category">
    <mat-option>None</mat-option>
    <mat-option *ngFor="let category of categories" [value]="category">
      {{ category.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="Reminders" [compareWith]="compareFn" name="reminders" [(ngModel)]="note.reminders" multiple>
    <mat-select-trigger>
      {{note.reminders ? note.reminders[0]?.name: ''}}
      <span *ngIf="note.reminders?.length > 1" class="example-additional-selection">
        (+{{note.reminders.length - 1}} {{note.reminders?.length === 2 ? 'other' : 'others'}})
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let reminder of reminders" [value]="reminder">
      {{ reminder.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
<div class="keep-c-done-wrapper">
  <button mat-button (click)="onSave()">Save</button>
</div>